@{
    ViewBag.Title = "";
}
&nbsp;&nbsp;
<div>
    <img src="~/App_Images/10.gif" />
</div>

<h1 class="alert-info">Ovation</h1>
<div class="jumbotron">
    <div class="container">
        <h1 class="bg-warning">Eduction</h1>
        <p class="alert-success">
            In geology, eduction is a process in which the Earth crust spreads sideways, exposing deep-seated rocks. It is prominent in middle layers of the Himalayas, where gravity pushes the mountains down. Together with a high grade of erosion, this activity brings deep rocks to the surface, many from more than a depth of 100 km. The unusually fast elevation preserves rare metastable minerals, e.g. diamonds and coesite.
        </p>
    </div>      
</div>

